.image_card {
    background-color: snow;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 223px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    width: 223px;
}

.image_card .info {
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.image_frame {
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.image_frame > img {
    display: inline-block;
    vertical-align: middle;
}

.image_frame > a {
    color: transparent;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
    -webkit-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    transition: background-color 250ms;
}

.image_frame > a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.image_frame a span {
    display: block;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 15px;
    text-align: left;
    white-space: pre-wrap;
}

.image_card #gm_hidden_info {
    display: none;
}

#gm_image_view {
    text-align: center;
}

#gm_image_view #gm_image_wrapper {
    background-color: #efefef;
    display: inline-block;
}

#gm_image_wrapper > div {
    text-align: left;
}

h3#gm_title {
    font-size: 20px;
    padding-left: 5px;
    padding-top: 10px;
    text-align: left;
}

#gm_image, #gm_info {
/*    border: 1px solid rgba(0, 0, 0, 0.3); */
/*    display: inline-block; */
    max-width: 700px;
    vertical-align: top;
}

#gm_info {
    box-sizing: border-box;
/*    max-width: 400px;
    min-width: 400px; */
    padding: 15px;
}

#gm_message p {
    margin: 0 0 10px;
}

#gm_info #gm_comment {
    border-left: 5px solid #3875D7;
    margin-top: 5px;
    padding-left: 10px;
}

#gm_drop_canvas {
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    height: 100vh;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

#gm_canvas {
    background-color: snow;
    height: 500px;
    left: 0;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 500px;
    z-index: 101;
    text-align: center;
}

#gm_canvas img {
    max-height: 100%;
}

#gm_img_nav {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

#gm_img_nav > div {
    display: inline-block;
    height: 100%;
    top: 0;
    width: 100px;
    z-index: 1003;
}

#gm_img_nav #gm_nav_left {
    float: left;
    margin-left: 5%;
}

#gm_img_nav #gm_nav_right {
    float: right;
    margin-right: 5%;
}

#gm_nav_left .arrow_button,
#gm_nav_right .arrow_button {
    color: rgba(255, 255, 255, 0.3);
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    text-align: center;
    cursor: pointer;
    -webkit-transition: color 250ms;
    -ms-transition: color 250ms;
    transition: color 250ms;
    z-index: 1003;
}

#gm_nav_left .arrow_button:hover,
#gm_nav_right .arrow_button:hover {
    color: rgba(255, 255, 255, 0.8);
}

#gm_canvas #gm_img_close {
    background-color: white;
    height: 25px;
    position: absolute;
    right: 0;
    top: -25px;
    width: 100%;
    z-index: 3000;
}

#gm_img_close #gm_close {
    display: block;
    cursor: pointer;
    float: right;
    padding-right: 5px;
}

#gm_canvas #gm_title_bar {
    background-color: white;
    bottom: -26px;
    font-size: 18px;
    height: 26px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: left;
}

#gm_title_bar > div {
    display: inline-block;
}

#gm_title_bar #gm_title {
    padding-left: 5px;
    text-align: left;
}

#gm_title_bar #gm_info_toggle {
    cursor: pointer;
    position: absolute;
    right: 5px;
    text-align: left;
    width: 48px;
}

#gm_canvas #gm_message_content {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: left;
}

#gm_message_content > div {
    margin-top: 10px;
    padding: 5px;
}

#gm_message_content > p {
    margin: 0 0 10px;
}

#gm_spinner {
    left: 0;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 100%;
    z-index: 3000;
}

#gm_spinner #gm_spin_wrapper {
    background: white none repeat scroll 0 0;
    border-radius: 600px;
    display: inline-block;
    height: 40px;
    padding-top: 9px;
    width: 50px;
}