form#gm-gallery {
    font-family: "Oswald",sans-serif;
    margin: 0 auto;
    width: 80%;
}

#gm-gallery label {
    font-size: 20px;
    margin-bottom: 5px;
}

#gm-gallery label .gm-asterisk {
    vertical-align: middle;
}

#gm-gallery label,
#gm-gallery input[type='text'],
#gm-gallery input[type='file'],
#gm-gallery textarea
{
    display: block;
    min-width: 100%;
    border-radius: 0;
    height: 27px;
}

#gm-gallery label.gm_full_width,
#gm-gallery input[type='text'].gm_full_width,
#gm-gallery input[type='file'].gm_full_width,
#gm-gallery textarea.gm_full_width {
    min-width: 100%;
}

#content input[type="text"],
#gm-gallery textarea {
    font-size: 20px;
    padding: 10px;
}

#gm-gallery input[type="text"] {
    height: 40px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

#gm-gallery textarea {
    min-height: 300px;
}

#gm-gallery > label > .gm-error {
    background: #FFDBDB;
    bottom: 2px;
    color: #FF0000;
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    display: inline-block;
}

/**
    - JS Uploaded
 */
#gm_gallery_submit {
    max-width: 810px;
}

#gm_gallery_submit .gm-error {
    border: 1px solid #FF0000;
}

form#gm-gallery.gm_js_form {
    display: inline-block;
    font-family: "Oswald",sans-serif;
    margin: 0 auto;
    width: 100%;
}

#gm_input_wrapper {
    max-width: 99.5%;
}

#gm_text_input_wrapper {
    margin-right: 1%;
}

#gm_text_input_wrapper, #gm_preview_wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 400px;
}

#gm_preview_wrapper {
    border: 1px solid #ccc;
    height: 305px;
    text-align: center;
    width: 398px;
}

button {
    min-width: 100%;
}

#gm_preview_wrapper > img {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    object-fit: contain;
    padding: 5px;
    width: 100%;
    z-index: 300;
}

#gm_preview_wrapper #gm_preview_pane {
    background: #ddd none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#gm_preview_pane i {
    display: block;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
}

#gm-gallery.gm_js_form #gm_text_input_wrapper textarea {
    min-height: 185px;
}

#gm_js_loading_gif {
    position: absolute;
    right: 120px;
}

#gm_js_error_wrapper {
    min-height: 25px;
}

#gm_js_error_wrapper #gm_error_response {
    background: #fff;
    border-left: 4px solid #FF0000;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 1px 12px;
}


