.image_card {
    background-color: snow;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 223px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    width: 223px;
}

.image_card .info {
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.image_frame {
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.image_frame > img {
    display: inline-block;
    vertical-align: middle;
}

.image_frame > a {
    color: transparent;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
    -webkit-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    transition: background-color 250ms;
}

.image_frame > a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.image_frame a span {
    display: block;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 15px;
    text-align: left;
    white-space: pre-wrap;
}