/* Admin Gallery */

#gm_settings_gallery {
/*    position: absolute; */
}
.image_card {
    padding: 3px;
}

.image_card .gm_img_title {
    text-align: left;
}

.image_card .gm_img_title > div {
    display: inline-block;
    max-width: 89%;
}

.image_card .gm_img_title .fa {
    float: right;
}

.image_card img {
    max-height: 200px;
    max-width: 300px;
    overflow-y: hidden;
}

.image_frame {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

.image_frame > a:hover,
.image_frame > a.gm_hidden_filter:hover {
    background-color: rgba(255,255,255, .4);
}

.image_frame a.gm_hidden_filter {
    background-color: rgba(253, 227, 167, 0.4);
}



/* **********************
 * Edit Page
 * **********************/

.wrap #image_edit_card {
    position: relative;
}

#image_edit_card #image_thumb {
    padding-right: 20px;
}

#image_thumb img {
    max-width: 500px;
}

#image_edit_card #image_thumb,
#image_edit_card #form_wrapper {
    display: inline-block;
    vertical-align: top;
}

.wrap #image_edit_card .form-table td,
.wrap #image_edit_card .form-table th {
    padding: 0;
}

#form_wrapper label,
#form_wrapper input[type='text'],
#form_wrapper textarea {
    display: block;
}

#form_wrapper textarea {
    height: 100px;
    min-width: 100%;
}

#gm_image_submit {
    float: right;
}

#gm_bulk_action_row {
/*    margin: 0 auto; */
    max-width: 98%;
    padding: 5px;
/*    padding-bottom: 5px;
    padding-top: 5px; */
}

#gm_bulk_action_row input[type="checkbox"] {
    margin: 0;
}

#gm_bulk_action_row > input[type="checkbox"] {
    margin-top: 5px;
}

#gm_bulk_action_row .gm_response {
    display: inline-block;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 800;
    height: 23px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 0;
    vertical-align: top;
}

.success {
    border-left-color: #3875D7;
}

#gm_image_delete {
    background-color: red;
    border-color: #B51806;
    box-shadow: 0 1px #B51806;
    color: white;
    text-shadow: 0 -1px 1px #B51806;
/*    float: left; */
}

#gm_image_delete .gm_set_float_left {
    float: left;
}

#gm_image_delete:hover {
    background-color: crimson;
}

#response {
    font-size: 20px;
    padding: 10px;
}

#gm_pagination .page_button {
/*    border: 1px solid grey; */
    display: inline-block;
    font-weight: bolder;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    min-width: 20px;
}

#gm_pagination .page_button.gm_current {
    background-color: black;
    color: white;
}

.gm_active.page_button > a {
    color: inherit;
    display: block;
    text-decoration: none;
    opacity: .7;
}

.gm_active.page_button > a:hover {
    opacity: .9;
}

#gm_pagination .gm_faded.page_button {
    opacity: 0.3;
}

#gm_pagination #page_location {
    float: right;
}

#gm_gallery_search {
    max-width: 95%;
    padding-bottom: 5px;
}

#gm_gallery_search .form-table {
    margin-bottom: 5px;
}

#gm_gallery_search .form-table th, .form-table td {
    padding: 0;
}

#gm_gallery_search .form-table tr {
    display: inline-block;
}

#gm_gallery_search .form-table .full_row {
    display: block;
}

#gm_gallery_search .button_container {
    margin-top: 5px;
}

#gm_gallery_search .form-table th {
    width: 120px;
}

#gm_gallery_search .form-table input[type="text"]
{
    width: 450px;
}

/* **********************
 * Admin Options
 * **********************/

#wpbody, #wpcontent, #gm_gallery_admin_options_table td {
    background-color: #ffffff;
}

#gm_gallery_admin_options_table select, #gm_gallery_admin_options_table input[type="text"], #gm_gallery_admin_options_table textarea {
    min-width: 300px;
}
#gm_gallery_admin_options_table th, #gm_gallery_admin_options_table td {
    border-left: 1px solid rgba(0,0,0,.3);
    border-right: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
    padding: 15px;
}
.gm_label_text {
    color: rgba(0,0,0,.8);
    padding-top: 5px;
    font-size: 13px;
    font-weight: normal;
}

#gm_gallery_admin_options_table tbody:first-child > tr:first-child td,  #gm_gallery_admin_options_table tbody:first-child > tr:first-child th {
    border-top: 1px solid rgba(0,0,0,.3);
}
#gm_gallery_admin_options_table textarea {
    height: 150px;
    overflow-y: scroll;
    margin: 15px 0 15px 0;
    vertical-align: middle;
}

h2.gm_admin_header {
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    margin-bottom: 0;
}
#gm_gallery_admin_options_table th {
    background-color: #F5F5F5;
}


@media screen and (max-width: 800px) {
    .image_card img {
        max-height: none;
        max-width: 100%;
        overflow-y: hidden;
    }
}