#gm_settings_gallery {
/*    position: absolute; */
}

.image_card {
/*    background-color: #ffe0b2; */
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    min-height: 280px;
    padding: 5px;
    vertical-align: top;
}

.image_card img {
    max-height: 200px;
    max-width: 300px;
    overflow-y: hidden;
}

.image_frame {
    display: block;
    height: 100%;
    left: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
}

.image_frame > a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.image_frame > a:hover {
    background-color: rgba(255,255,255, .4);
    -webkit-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    transition: background-color 250ms;
}

/*
 Edit Page
 */

.wrap #image_edit_card {
    position: relative;
}

#image_edit_card #image_thumb {
    padding-right: 20px;
}

#image_thumb img {
    max-width: 500px;
}

#image_edit_card #image_thumb,
#image_edit_card #form_wrapper {
    display: inline-block;
    vertical-align: top;
}

.wrap #image_edit_card .form-table td,
.wrap #image_edit_card .form-table th {
    padding: 0;
}

#form_wrapper label,
#form_wrapper input[type='text'],
#form_wrapper textarea {
    display: block;
}

#form_wrapper textarea {
    height: 100px;
    min-width: 100%;
}

#gm_image_submit {
    float: right;
}

#gm_image_delete {
    background-color: red;
    border-color: #B51806;
    box-shadow: 0 1px #B51806;
    color: white;
    text-shadow: 0 -1px 1px #B51806;
    float: left;
}

#gm_image_delete:hover {
    background-color: crimson;
}

#response {
    font-size: 20px;
    padding: 10px;
}

#gm_pagination .page_button {
/*    border: 1px solid grey; */
    display: inline-block;
    font-weight: bolder;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    min-width: 20px;
}

#gm_pagination .page_button.gm_current {
    background-color: black;
    color: white;
}

.gm_active.page_button > a {
    color: inherit;
    display: block;
    text-decoration: none;
    opacity: .7;
}

.gm_active.page_button > a:hover {
    opacity: .9;
}

#gm_pagination .gm_faded.page_button {
    opacity: 0.3;
}

#gm_pagination #page_location {
    float: right;
}

#gm_gallery_search {
    max-width: 95%;
    padding-bottom: 5px;
}

#gm_gallery_search .form-table {
    margin-bottom: 5px;
}

#gm_gallery_search .form-table th, .form-table td {
    padding: 0;
}

#gm_gallery_search .form-table tr {
    display: inline-block;
}

#gm_gallery_search .form-table .full_row {
    display: block;
}

#gm_gallery_search .button_container {
    margin-top: 5px;
}

#gm_gallery_search .form-table th {
    width: 120px;
}

#gm_gallery_search .form-table input[type="text"]
{
    width: 450px;
}

@media screen and (max-width: 800px) {
    .image_card img {
        max-height: none;
        max-width: 100%;
        overflow-y: hidden;
    }
}